@import './page.scss';

.form {
	@include flex(center, space-between, column);

	margin: 7%;	
	
  select,
	.field {
		width: 96vw;
		height: 6vh;
		padding: 4px;
		border: none;
		box-shadow: $shadow;
		margin-top: 5px;
	
		&::placeholder {
			color: $light-dark;
			font-size: 15px;
			font-weight: 600;
		}
	
	}

	input[type=submit] {
		border: none;
		background: none;
		font-size: 17px;
		font-weight: 600;
		margin-top: 5vh;
		color: $light-dark;
	}

	.field-container {
		margin: 10px;
	}

	.label {
    color: $text-color;
	}

	select,
	option {
		color: $light-dark;
			font-size: 15px;
			font-weight: 600;
	}

}
